.nbi {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.nbi:before {
    content: "\00a0";
}

.nbi-044 {
    background-image: url(https://nigerianbanks.xyz/logo/access-bank.png);
}

.nbi-063 {
    background-image: url(https://nigerianbanks.xyz/logo/access-bank-diamond.png);
}

.nbi-035A {
    background-image: url(https://nigerianbanks.xyz/logo/alat-by-wema.png);
}

.nbi-401 {
    background-image: url(https://nigerianbanks.xyz/logo/asosavings.png);
}

.nbi-50931 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}

.nbi-50823 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}

.nbi-023 {
    background-image: url(https://nigerianbanks.xyz/logo/citibank-nigeria.png);
}
.nbi-050 {
    background-image: url(https://nigerianbanks.xyz/logo/ecobank-nigeria.png);
}
.nbi-562 {
    background-image: url(https://nigerianbanks.xyz/logo/ekondo-microfinance-bank.png);
}
.nbi-070 {
    background-image: url(https://nigerianbanks.xyz/logo/fidelity-bank.png);
}
.nbi-011 {
    background-image: url(https://nigerianbanks.xyz/logo/first-bank-of-nigeria.png);
}
.nbi-214 {
    background-image: url(https://nigerianbanks.xyz/logo/first-city-monument-bank.png);
}
.nbi-00103 {
    background-image: url(https://nigerianbanks.xyz/logo/globus-bank.png);
}
.nbi-058 {
    background-image: url(https://nigerianbanks.xyz/logo/guaranty-trust-bank.png);
}
.nbi-50383 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-030 {
    background-image: url(https://nigerianbanks.xyz/logo/heritage-bank.png);
}
.nbi-301 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-082 {
    background-image: url(https://nigerianbanks.xyz/logo/keystone-bank.png);
}
.nbi-50211 {
    background-image: url(https://nigerianbanks.xyz/logo/kuda-bank.png);
}
.nbi-327 {
    background-image: url(https://nigerianbanks.xyz/logo/paga.png);
}
.nbi-526 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-100004 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-076 {
    background-image: url(https://nigerianbanks.xyz/logo/polaris-bank.png);
}
.nbi-101 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-125 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-51310 {
    background-image: url(https://nigerianbanks.xyz/logo/sparkle-microfinance-bank.png);
}
.nbi-221 {
    background-image: url(https://nigerianbanks.xyz/logo/stanbic-ibtc-bank.png);
}
.nbi-068 {
    background-image: url(https://nigerianbanks.xyz/logo/standard-chartered-bank.png);
}
.nbi-232 {
    background-image: url(https://nigerianbanks.xyz/logo/sterling-bank.png);
}
.nbi-100 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-302 {
    background-image: url(https://nigerianbanks.xyz/logo/taj-bank.png);
}
.nbi-51211 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-102 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-102 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-032 {
    background-image: url(https://nigerianbanks.xyz/logo/union-bank-of-nigeria.png);
}
.nbi-033 {
    background-image: url(https://nigerianbanks.xyz/logo/united-bank-for-africa.png);
}
.nbi-215 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-566 {
    background-image: url(https://nigerianbanks.xyz/logo/default-image.png);
}
.nbi-035 {
    background-image: url(https://nigerianbanks.xyz/logo/wema-bank.png);
}
.nbi-057 {
    background-image: url(https://nigerianbanks.xyz/logo/zenith-bank.png);
}


